<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <TITLE></TITLE>
    <META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
    <META NAME="CREATED" CONTENT="0;0">
    <META NAME="CHANGED" CONTENT="0;0">
    <STYLE TYPE="text/css">
        <!--
        @page { margin: 1in }
        P { margin-bottom: 0.08in }
        H1 { margin-top: 0.28in; margin-bottom: 0.08in; direction: ltr; line-height: 100%; page-break-inside: avoid; widows: 2; orphans: 2 }
        H1.western { font-family: "Arial", serif; font-size: 20pt; font-weight: normal }
        H1.cjk { font-size: 20pt; font-weight: normal }
        H1.ctl { font-size: 20pt; font-weight: normal }
        A:link { so-language: zxx }
        -->
    </STYLE>
</HEAD>
<BODY LANG="en-US" BGCOLOR="#ffffff" DIR="LTR">
<P ALIGN=LEFT STYLE="margin-bottom: 0.04in; line-height: 100%; page-break-inside: avoid; widows: 2; orphans: 2; page-break-after: avoid"><A NAME="_6llsf1jd1kfz"></A>
    <FONT SIZE=6 STYLE="font-size: 26pt">REST API for pricing service</FONT></P>
<H1 CLASS="western"><A NAME="_4g3kjfckbhgx"></A>Description</H1>
<P STYLE="margin-bottom: 0in">Pricing service stores price history
    for products.
</P>



</BODY>
</HTML>